
{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s6 offset-s3">
                <div class="card blue-grey darken-1">
                    <div class="card-content">
                        <span class="card-title> Login </span>
                         <form action=" " method="POST">

                            {% csrf_token %}
                                {% for field in form %}
                                <div class="input-field row s6">

                                    {{field}}

                                </div>
                                {% endfor %}
                            <button class="btn waves-effect waves-light" type="Submit" name="action">
                                     Login
                                 <i class="material-icons right"> send </i>
                            </button>
                        </form> 
                    </div>
                    
                </div>
            </div>
        </div>
    
    
    </div>
       

{% endblock %}